body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  padding: 1rem 0;
}

.navbar {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #e50914;
  text-decoration: none;
  padding-left: 50px;
}

.navbar .links {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar .links li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar .links li a:hover {
  color: #e50914;
}

.box {
  position: relative;
}

.input {
  padding: 10px;
  width: 40px;
  height: 40px;
  background: none;
  border: 1px solid #e50914;
  border-radius: 50px;
  box-sizing: border-box;
  font-size: 16px;
  color: #e50914;
  outline: none;
  transition: 0.5s;
}
.box:hover input {
  width: 250px;
  background: #3b3640;
  border-radius: 10px;
}
.box i {
  position: absolute;
  top: 50%;
  padding-left: 40px;
  transform: translate(-50%, -50%);
  font-size: 15px;
  color: #e50914;
  transition: 0.2s;
}

.box:hover i {
  opacity: 0;
  z-index: -1;
}
/* =============================== */
.burger {
  display: none;
  cursor: pointer;
}

.burger .line1,
.burger .line2,
.burger .line3 {
  width: 24px;
  height: 3px;
  background-color: #e50914;
  transition: 0.3s ease;
}
.burger .line2 {
  margin: 3px 0px;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .navbar .links {
    display: none;
  }
  .burger {
    padding-right: 3rem;
    display: block;
  }

  .nav-links li {
    opacity: 0;
  }

  .box {
    display: none;
  }
}

.nav-active {
  transform: translateX(0);
}

.close .line1 {
  transform: rotate(-45deg) translate(-5px, 3px);
  transition: 0.3s ease;
}

.close .line2 {
  opacity: 0;
}

.close .line3 {
  transform: rotate(45deg) translate(-5px, -3px);
  transition: 0.3s ease;
}

@keyframes linksFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
/* ====================
 */
