body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #888;
}

header {
  background-color: #333;
  padding: 1rem 0;
}

.navbar {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #e50914;
  text-decoration: none;
  padding-left: 50px;
}

.navbar .links {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar .links li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar .links li a:hover {
  color: #e50914;
}

.box {
  position: relative;
}

.input {
  padding: 10px;
  width: 40px;
  height: 40px;
  background: none;
  border: 1px solid #e50914;
  border-radius: 50px;
  box-sizing: border-box;
  font-size: 16px;
  color: #e50914;
  outline: none;
  transition: 0.5s;
  
  
}
.box:hover input {
  width: 250px;
  background: #3b3640;
  border-radius: 10px;
}
.box i {
  position: absolute;
  top: 50%;
  padding-left: 40px;
  transform: translate(-50%, -50%);
  font-size: 15px;
  color: #e50914;
  transition: 0.2s;
}

.box:hover i {
  opacity: 0;
  z-index: -1;
}
/* =============================== */
.burger {
  display: none;
  cursor: pointer;
}

.burger .line1,
.burger .line2,
.burger .line3 {
  width: 24px;
  height: 3px;
  background-color: #e50914;
  transition: 0.3s ease;
}
.burger .line2 {
  margin: 3px 0px;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .navbar .links {
    display: none;
  }
  .burger {
    padding-right: 3rem;
    display: block;
  }

  .nav-links li {
    opacity: 0;
  }

  .box {
    display: none;
  }
}

.nav-active {
  transform: translateX(0);
}

.close .line1 {
  transform: rotate(-45deg) translate(-5px, 3px);
  transition: 0.3s ease;
}

.close .line2 {
  opacity: 0;
}

.close .line3 {
  transform: rotate(45deg) translate(-5px, -3px);
  transition: 0.3s ease;
}

@keyframes linksFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* ========================*/
.movie-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.movie-card {
  width: 280px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease;
}

.movie-card:hover {
  transform: scale(1.05); 
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); 
}

.movie-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  transition: transform 0.2s ease; 
}

/* .movie-card:hover img {
  transform: scale(1.1); 
} */

.movie-card .movie-details {
  padding: 15px;
}

.movie-card h2 {
  font-size: 1.5rem;
  margin: 0;
  color: #333;
}

.movie-card .movie-description {
  font-size: 1rem;
  color: #666;
  margin-top: 10px;
}

.movie-card .release-date {
  font-size: 0.9rem;
  color: #888;
}

@media (max-width: 768px) {
  .movie-card {
    width: 100%;
  }
}

/* popular Section */



.popular-section {
  background: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.movie-slider {
  display: flex;
  overflow-x: auto;
}

.movie-card {

  border-radius: 10px;
  padding: 10px;

  text-align: center; 
  width: 220px;
}

img {
  max-width: 100%;
  height: auto; 
}

h2 {
  font-size: 1.2rem;
  margin: 10px 0;
}

p {
  font-size: 1rem;
}
/* =========================
*/
.cards {
  display: inline-block;
  transition: transform .2s;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin: 0.19rem;
  cursor:pointer;
  min-width:200px;
  height:300px;
  z-index:0;
  border: 1px solid rgb(99, 99, 99);
}

.cards:hover {
  transform: scale(1.2);
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.cards__img {
  height: 300px;
}

.cards__overlay {
  position: absolute;
  padding: 0 1rem 1rem 1rem;
  bottom: 0px;
  height: 290px;
  display: flex;
  flex-direction: column;
  width: 85%;
  justify-content: flex-end;
  background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,1));
  opacity: 0;
  transition: opacity .2s;
}   

.cards__overlay:hover {
  opacity: 1;
}

.card__title {
  font-weight: 900;
  font-size: 1rem;
  margin-bottom: 0.4rem;
}

.card__runtime {
  font-size: .75rem;
  margin-bottom: 0.25rem;
}

.card__rating {
  float: right;
}

.card__description {
  font-style: italic;
  font-size: .75rem;
  margin-bottom: 0.25rem;
}